@use "utils.scss";

.all-confessions {
  .paginate-btn {
    margin: 4rem 0;
    text-align: center;

    .btn {
      padding: 0.55em 2em;
      font-weight: 500;
      font-size: 1.2rem;
    }

    .btn-prev {
      margin-right: 1rem;
    }
  }
}

.post {
  @include utils.apply-flex(row, flex-start, center);
  border-radius: 5px;
  border: 2px solid var(--primary-bc);
  padding-left: 1em;
  transition: all 0.3s;

  &:hover,
  &:focus-within {
    border: 2px solid var(--accent-text);
    box-shadow: 0 0 30px rgb(0 0 0 / 30%);
    background-color: var(--secondary-bc);
  }

  &__icon {
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    position: relative;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(50%, 50%);
    }
  }

  &__confession {
    margin-left: 2rem;

    h4 {
      font-weight: 500;
      margin: 2rem 0 0;

      a {
        color: var(--white);
      }
    }
  }
}

@media only screen and (max-width: 50em) {
  /* 800px */
  .post {
    padding: 1.5em 1em;
    flex-direction: column;
    align-items: flex-start;

    &__confession {
      margin-left: 0;

      h4 {
        margin-top: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 26.25em) {
  /* 420px */
  .post {
    h4 {
      font-size: 1.3rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}
