@use "./utils.scss";

.flash {
  width: 40vw;
  margin: auto;
  @include utils.apply-flex(row, space-between, center);
  padding: 0.4em 0.8em;
  border-radius: 5px;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  &__remove {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--white);
    font-size: 2rem;
  }

  &--success {
    background-color: var(--green);
  }

  &--error {
    background-color: var(--red);
  }

  &--warn {
    background-color: var(--yellow);
  }

  &--info {
    background-color: var(--blue);
  }
}
