@use "utils.scss";

.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23252525' fill-opacity='0.32'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  z-index: 10;

  h2 {
    font-weight: 500;
  }

  // Tagline
  &__text,
  &__arrow {
    text-align: center;
    @include utils.apply-flex(column, center, center);
  }

  &__text {
    margin-top: 4rem;
  }

  &__red-text {
    --inset: -1px -8px -3px -8px;
    --bc-color: var(--red);
  }

  &__yellow-text {
    display: block;
    margin: 1rem auto 0;
    width: fit-content;
    --inset: -1px -20px -5px -20px;
    --bc-color: var(--yellow);
  }

  &__red-text,
  &__yellow-text {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: var(--inset);
      background-color: var(--bc-color);
      z-index: -2;
      transform: rotate(0.8deg) skew(-20deg);
    }
  }

  &__tagline {
    font-size: 1.5rem;
  }

  // Confess now button
  &__btn {
    font-size: 1.3rem;
    font-weight: 600;
  }

  &__arrow {
    position: absolute;
    bottom: 2rem;
    color: var(--time-bc);
  }

  .bc-wave {
    position: absolute;
    bottom: 0;
    fill: var(--black);
    z-index: -10;
  }
}

.home-main {
  overflow: auto;
  background-color: var(--black);

  &__popular,
  &__about {
    max-width: 70%;
    margin: auto;
  }

  &__popular {
    h3 {
      margin-top: 8rem;
    }

    & > div {
      width: 80%;
      margin: auto;
    }

    .post {
      border: 2px solid var(--black);
    }
  }

  &__no-popular {
    text-align: center;
  }

  &__about {
    margin-bottom: 4rem;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 80em) {
  /* 1280px */
  .hero {
    h2 {
      font-size: 2.9rem;
    }

    &__btn {
      font-size: 1.1rem;
    }
  }

  .home-main {
    &__popular,
    &__about {
      max-width: 90%;
    }

    &__popular {
      & > div {
        width: 90%;
      }
    }
  }
}

@media only screen and (max-width: 50em) {
  /* 800px */
  .hero__text {
    margin-top: 3rem;
  }

  .home-main {
    h3 {
      font-size: 1.8rem;
    }

    &__popular,
    &__about {
      max-width: 100%;
    }

    &__popular {
      & > div {
        width: 100%;
      }
    }

    &__about {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 40.625em) {
  /* 650px */
  .hero {
    h2 {
      font-size: 2.2rem;
    }

    &__tagline {
      font-size: 1.2rem;
    }
  }

  .home-main__about {
    p {
      font-size: 0.9rem;
    }
  }
}
