@use "utils.scss";

.hero {
  height: 100vh;
  position: relative;
  overflow: auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23252525' fill-opacity='0.32'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  z-index: 10;

  &__text,
  &__arrow {
    text-align: center;
    @include utils.apply-flex(column, center, center);
  }

  &__text {
    margin-top: 4rem;
  }

  &__yellow {
    display: block;
    margin-top: 1rem;
  }

  &__arrow {
    position: absolute;
    bottom: 2rem;
    color: var(--time-bc);
  }

  .bc-wave {
    position: absolute;
    bottom: 0;
    fill: var(--black);
    z-index: -10;
  }
}

.home-main {
  overflow: auto;
  background-color: var(--black);

  h3 {
    @include utils.section-heading(center);
  }

  &__popular,
  &__about {
    max-width: 70%;
    margin: auto;
  }

  &__popular {
    h3 {
      margin-top: 8rem;
    }
  }

  &__no-popular {
    text-align: center;
  }

  &__about {
    margin-bottom: 4rem;
  }
}
