@mixin apply-flex($flex-direction, $justify-content, $align-item) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-item;
}

@mixin section-heading($text-align) {
  color: var(--purple);
  text-align: $text-align;
  font-weight: 500;
}
