extends layout 

include mixins/_post

block content
  .all-confessions
    h2 All confessions
    if confessions 
      each confession in confessions 
        +post(confession)
    else 
      h3 No posts
