doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        title New Confession
    body 
        h1 Edit the confession
        form(action=`/edit/${id}` method="POST")
            input(type="text" maxlength="100" name="title" value=title)
            textarea(name="confession" cols="30" rows="10")= confession
            button(type="submit") Edit
