doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="stylesheet", href="/css/main.css")
  title Home | Anonymous Confessions
body
  header
    h1 Anonymous Confessions
    nav
      ul
        li: a(href="/") Home
        li: a(href="/confessions") All confessions
        li: a(href="/new") Write a confession
  main
    section
      h1 #{name} 
      p This URL is: #{req.url}
  script.
    const name = "#{name}";
  script(src="/js/main.js") 
