include mixins/_post

doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="/dist/sass/main.css")
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap" rel="stylesheet")
    title Home | Anonymous Confessions
  
  body
    .hero
      svg.bc-wave(width='100%' height='303' viewBox='0 0 1440 303' preserveAspectRatio='none' style='display:block;min-width:600px;overflow:visible;' xmlns='http://www.w3.org/2000/svg')
        path(d='M339 122C220.647 106.212 176.609 -12.2323 58 1.50005C29.0671 4.84984 -14.5 19.0001 -14.5 19.0001V303H1443V184C1443 184 1296.24 217.673 1200.5 221C974.265 228.862 864.366 79.4709 638 81.0001C520.143 81.7962 455.825 137.584 339 122Z' fill='var(--color-background)')
      .container
        header.hero__header
          h1: a(href="/") AConfessions 
          nav 
            ul 
              li: a(href="/confessions").accent Read confessions
              li: a(href="/new").btn.btn-red Write confession
              if user
                li: a(href="/admin").btn.btn-yellow Admin

        
        if flashes 
          - const categories = Object.keys(flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`flash--${category}`)
                p= message
                button.flash__remove(onClick="this.parentElement.remove()") &times;
        
        section.hero__text
          h2 #[span.hero__red-text Confess] about anything from your daily life, #[span.hero__yellow-text Anonymously]
          p.hero__tagline Admit your wrongdoings & acknowledge your guilt
          a(href="/new").btn.btn-blue.hero__btn Confess Now
          
          .hero__arrow
            svg(width='49' height='35' viewBox='0 0 49 44' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M23.1234 7.5625V31.7754L14.3954 23.9381L12.4767 25.6601L24.4789 36.4375L36.5234 25.622L34.6056 23.8998L25.836 31.7754V7.5625H23.1234Z' fill='var(--time-bc)' fill-opacity='1')
            span Popular confessions
      
    main.home-main
      .container
        section.home-main__popular
          h3 Popular confessions in last 24 hours:
          div
            if top5Confessions 
              each confession in top5Confessions 
                +post(confession)
            else 
              h4.home-main__no-popular No posts in last 24 hours


        section.home-main__about 
          h3 About this project 
          p This project is made by me, Srikar KSV, using vanilla NodeJS for web server and some packages to support it. I started this project with the aim to make a simple CRUD website without using express and using the underlying http module with some other packages.
          p But as I started working on it, it’s scope increased and now I’ve implemented some new features like, storing in DB, authentication for admin and mods with JWT, role based authorization, flash using sessions, sophisticated routing, proper error handling and much more.
          p I learnt a lot when researching for this project as I had to soar through the source code of many popular packages and gave me a better understanding the tools I use everyday. I hope you give it a chance and try the different features I implemented to build this project, Thank you!

    footer
      p.footer__logo AConfessions
      p Made with ❤️ by Srikar, © 2021 - present
