doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    block head-tags
    link(rel="stylesheet", href="/dist/sass/main.css")
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap" rel="stylesheet")
    title #{title} | Anonymous Confessions
  
  body.layout-body
    div
      .container 
        header 
          h1: a(href="/") AConfessions 
          nav 
            button.hamburger 
              svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16M4 18h16')
            button.close
              svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')
            ul 
              if user
                if currentURL === "/dashboard"
                  li: a(href="/confessions").accent Read confessions
                  if user.role === "admin"
                    li: a(href="signup").btn.btn-red Add new user
                  li: a(href=`/profile/${user.username}`).btn.btn-yellow Profile
                  li: a(href="/logout").btn.btn-grey Logout
                else
                  li: a(href="/confessions").accent Read confessions
                  li: a(href="/new").btn.btn-red Write confession
                  li: a(href="/dashboard").btn.btn-yellow Dashboard
              else
                li: a(href="/confessions").accent Read confessions
                li: a(href="/new").btn.btn-red Write confession
                

        
        if locals.flashes 
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`flash--${category}`)
                span= message
                button.flash__remove(onClick="this.parentElement.remove()") &times;
        
        main 
          block content
      
    footer.alternate-footer
      .container
        p.footer__logo AConfessions
        p Made with ❤️ by Srikar, © 2021 - present

  script(src="/dist/js/index.js")
  block scripts
