doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/main.css")
    title Login
  body 
    header 
      if flashes 
      - const categories = Object.keys(flashes)
      each category in categories
        each message in flashes[category]
          .flash(class=`flash--${category}`)
            p= message
            button.flash__remove(onClick="this.parentElement.remove()") &times;
    h1 Login 
    form(action="/login", method="post") 
      label(for="username") Username 
      input#username(type="text" name="username")
      label(for="password") Password 
      input#password(type="password" name="password")
      input(type="submit", value="Login")
