extends layout 

include mixins/_auth-form

block head-tags 
  link(rel="stylesheet", href="/dist/sass/admin/admin.css")

block content
  .profile
    h2.heading-center= user.username
    p.profile__role= user.role

    h3 Marked posts history
    if user.postsMarked.length
      ul
        each post in user.postsMarked
          li: a(href=`/confessions/${post.slug}` target="_blank")= post.title 
    else 
      h4 No posts marked

    h3 Edited posts history
    if user.postsEdited.length
      ul
        each post in user.postsEdited
          li: a(href=`/confessions/${post.slug}` target="_blank")= post.title 
    else 
      h4 No posts edited
