doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/main.css")
    title Signup
  body 
    h1 Signup 
    form(action="/signup", method="post") 
      label(for="username") Username 
      input#username(type="text" name="username")
      label(for="password") Password 
      input#password(type="password" name="password")
      p Choose role
      input#mod(type="radio" name="role" value="mod")
      label(for="mod") Moderator
      input#admin(type="radio" name="role" value="admin")
      label(for="admin") Admin
      input(type="submit", value="Signup")
