@use "../utils.scss";

.dashboard {
  &__greeting {
    @include utils.section-heading(left);
  }

  h4 {
    margin: 0;
  }

  .loading-animation {
    @include utils.apply-flex(row, center, center);
    margin: 4rem auto;

    // When width & height is added with js, margin is removed
    &[style] {
      margin: 0 auto;
    }

    // Animation
    .pulse {
      width: 100px;
      height: 100px;
      background: var(--logo-color);
      border-radius: 50%;
      animation: pulse 2s linear infinite;
    }
  }

  .hide {
    display: none;
  }

  .btn {
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    border: none;
    margin: 1rem 1.5rem 1rem 0;

    &.btn-prev,
    &.btn-next {
      font-size: 1.2rem;
    }
  }

  &__table-container {
    overflow-x: auto;
    font-size: 1.1rem;

    table,
    a {
      color: var(--white);
      text-decoration: none;
    }

    table {
      width: 100%;
      background-color: var(--secondary-bc);
      border-radius: 3px;
      border: none;
    }

    thead {
      tr {
        background-color: var(--green);
      }

      th {
        text-align: left;
        padding: 0.8em;
      }
    }

    tr.marked {
      opacity: 0.5;

      .btn-mark {
        cursor: not-allowed;
      }

      .btn-edit {
        pointer-events: none;
        position: relative;

        &::before {
          content: "marked";
          position: absolute;
          top: 0;
          left: -10px;
          transform: rotate(-5deg);
          background: var(--red);
          padding: 0.3em 0.5em;
          border-radius: 3px;
        }
      }
    }

    td {
      padding: 0.5em 0.8em;
    }
  }

  &__notification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 2rem auto;
    width: fit-content;
    border-radius: 5px;
    padding: 0.8em 1em;
    box-shadow: 0 4px 8px rgb(0 0 0 / 38%);
    background-color: var(--green);
    transform: translateY(-160%);
    transition: transform 0.3s;
    @include utils.apply-flex(row, center, center);

    &.show {
      transform: translateY(0);
    }

    p {
      margin-bottom: 0;
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--blue), 0 0 0 0 var(--blue);
  }
  40% {
    box-shadow: 0 0 0 30px rgba(109, 131, 241, 0), 0 0 0 0 var(--blue);
  }
  80% {
    box-shadow: 0 0 0 30px rgba(109, 131, 241, 0),
      0 0 0 20px rgba(109, 131, 241, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(109, 131, 241, 0),
      0 0 0 20px rgba(109, 131, 241, 0);
  }
}
